* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.parallax {
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.4s;
}


.content {
    background-color: #fff;
    height: 100%;
    text-align: center;
}

.parallax.bg-01 {
    background-image: url(img/sample-01.jpg);
}

.parallax.bg-02 {
    background-image: url(img/sample-01.jpg);
}

.parallax.bg-03 {
    background-image: url(img/sample-01.jpg);
}

.bg-gray {
    background-image: url(img/sample-01-gray.jpg) !important;
}

.contact_btn{
    display: block;
    width: 160px;
    height:160px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 8;
}

.contact {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255);
    z-index: 10;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding-top: 16px;
    color: #292929;
    font-size: 25px;
    font-family: 'Didot';
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.contact:hover {
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.mail {
    list-style: none;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255);
    z-index: 9;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.mail a {
    transition-delay: .1s;
    padding-top: 13px;
    color: #292929;
    font-size: 20px;
    font-family: 'Didot';
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    display: block;
    /* transition: all 0.3s ease; */
}

.facebook {
    list-style: none;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255);
    z-index: 9;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.facebook a {
    transition-delay: .2s;
    padding-top: 11px;
    color: #292929;
    font-size: 24px;
    font-family: 'Didot';
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    display: block;
    /* transition: all 0.3s ease; */
}

.twitter {
    list-style: none;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255);
    z-index: 9;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.twitter a {
    transition-delay: .3s;
    padding-top: 11px;
    color: #292929;
    font-size: 24px;
    font-family: 'Didot';
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    display: block;
    /* transition: all 0.3s ease; */
}

/* .contact_list a:hover{
    color: #ffffff;
} */